 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/1465904416125883309.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 601px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 242px;
  height: auto;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 80px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 79px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 11px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  background-image: none;
  width: 65px;
  height: 65px;
  left: auto;
  position: absolute;
  top: 74px;
  right: 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-top: 19px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 43px;
    height: 43px;
    left: 0;
    right: auto;
    position: absolute;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 43px;
    height: 43px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 36px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/Spain-Flag.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 601px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 242px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 80px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  width: auto;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 80px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  width: auto;
  margin: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 217px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 35px;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/de.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 601px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-5 .u-slider-1 {
  min-height: 250px;
  height: auto;
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 80px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  width: auto;
  margin: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 80px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  width: auto;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  width: auto;
  margin: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-5 .u-carousel-control-2 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 217px;
  }
}