 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 899px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 411px 92px 0 0;
}

.u-section-1 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/2023-10-0318.16.14.png");
  background-position: 50% 50%;
  margin: -470px 14px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1067px;
  min-height: 289px;
  height: auto;
  margin: 90px auto 41px -17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 18px 22px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 31px auto 0 22px;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 396px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 820px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 35px 588px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 621px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  font-size: 1.5rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 58px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  font-size: 1.5rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 58px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  font-size: 1.5rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 58px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 508px;
  }

  .u-section-2 .u-image-1 {
    height: 277px;
  }

  .u-section-2 .u-text-2 {
    font-style: italic;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
  }

  .u-section-2 .u-text-4 {
    font-style: italic;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-3 {
    height: 277px;
  }

  .u-section-2 .u-text-6 {
    font-style: italic;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1205px;
  }

  .u-section-2 .u-image-1 {
    height: 324px;
  }

  .u-section-2 .u-image-2 {
    height: 324px;
  }

  .u-section-2 .u-image-3 {
    height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 527px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 527px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 527px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 324px;
  }

  .u-section-2 .u-image-2 {
    height: 324px;
  }

  .u-section-2 .u-image-3 {
    height: 324px;
  }
}

.u-block-11b7-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-6 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-50:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-50:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-50:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-50:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-35:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-34:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-51:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]).u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]).u-block-11b7-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]).u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]).u-block-11b7-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-image-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-text-7:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-11b7-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-11b7-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-11b7-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-11b7-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-11b7-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .u-text-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-2 .u-text-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-11b7-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-11b7-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-sheet-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-text-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-text-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-11b7-85:not([data-block-selected]):not([data-cell-selected]),
.u-block-11b7-85:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-11b7-85:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-11b7-85:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-11b7-85:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-3 {
  background-image: none;
  min-height: 1216px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1236px);
  margin: 148px calc(((100% - 1140px) / 2) + -95px) 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1123px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 927px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 31px 0 96px;
}

.u-section-3 .u-text-1 {
  font-size: 4.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 64px 10px 0;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 31px 0 96px;
}

.u-section-3 .u-text-3 {
  font-size: 4.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 64px 10px 0;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 31px 0 96px;
}

.u-section-3 .u-text-5 {
  font-size: 4.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 64px 10px 0;
}

.u-section-3 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 31px 0 96px;
}

.u-section-3 .u-text-7 {
  font-size: 4.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 64px 10px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 948px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 854px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 370px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-5 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-7 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-8 {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 193px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
  }
}

.u-block-042a-39:not([data-block-selected]):not([data-cell-selected]),
.u-block-042a-39:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-042a-39:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-042a-39:not([data-block-selected]):not([data-cell-selected]).u-block-042a-39:not([data-block-selected]):not([data-cell-selected]).u-block-042a-39:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-042a-39:not([data-block-selected]):not([data-cell-selected]).u-block-042a-39:not([data-block-selected]):not([data-cell-selected]).u-block-042a-39:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-042a-39:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-042a-39:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 604px;
}

.u-section-4 .u-slider-1 {
  margin-top: 64px;
  margin-bottom: 60px;
  min-height: 478px;
  height: auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/ddf.jpg");
  background-position: 50% 50%;
  margin: 2px auto 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 237px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-2 {
  margin: -21px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/a7c767cf-3a26-4f01-874d-14261d2c39a7.jpg");
  background-position: 0% 50%;
  margin: 7px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  width: 204px;
  margin: 11px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 6px 10px 0;
}

.u-section-4 .u-text-6 {
  margin: 31px 63px 0 107px;
}

.u-section-4 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 914px;
}

.u-section-5 .u-group-1 {
  min-height: 425px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1061px;
  margin: 284px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 60px 50px;
}

.u-section-5 .u-image-1 {
  width: 282px;
  height: 282px;
  background-image: url("images/2023-10-0114.28.15.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.3;
  margin: -138px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 62px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 667px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 84px auto 0;
}

.u-section-6 .u-form-1 {
  height: 214px;
  width: 570px;
  margin: 34px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1.875rem;
  background-image: none;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 34px auto 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.875rem;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 59px;
  padding: 33px 113px 34px 111px;
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}

.u-section-6 .u-btn-2,
.u-section-6 .u-btn-2:before,
.u-section-6 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-7 .u-sheet-1 {
  min-height: 168px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 60px auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-btn-forms,
.u-btn-step {
  display: inline-block;
}