 .u-section-1 {
  background-image: url("images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  margin: 50px 881px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1162px;
  margin: 12px auto 0 -22px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 851px;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 6px;
}

.u-section-1 .u-text-2 {
  margin: 0 31px 0 18px;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  margin: 23px 24px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 851px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 22px 0;
}

.u-section-1 .u-text-4 {
  margin: 7px 81px 0 0;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 333px;
  margin: 21px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 110px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-5 {
  width: auto;
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-6 {
  width: auto;
  margin: -28px 71px 0 auto;
}

.u-section-1 .u-text-7 {
  width: auto;
  margin: 14px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-8 {
  width: auto;
  margin: 11px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-1 .u-group-2 {
  min-height: 175px;
  height: auto;
  margin: 26px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 175px;
  height: auto;
  margin: 24px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 700px;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 0;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  margin: 0 16px 0 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 110px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-10 {
  width: auto;
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-11 {
  width: auto;
  margin: -28px 71px 0 auto;
}

.u-section-1 .u-text-12 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 401px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 938px;
    margin-top: 0;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-right: 18px;
  }

  .u-section-1 .u-group-1 {
    min-height: 199px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 13px;
  }

  .u-section-1 .u-image-1 {
    width: 149px;
    height: 107px;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: -70px 5px 0 auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 851px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 26px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-4 {
    min-height: 200px;
    width: 329px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 149px;
    height: 66px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
    margin-left: 108px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 461px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 264px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 51px;
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 281px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 81px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }
}